/*COMENTÁRIO*/ /* Estilização geral do site*/
body{
    font-family:"Lucida Sans Unicode";
    margin: 0;
    padding: 0;
    border: 0; 
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/*Estilização do HEADER da página*/
header{
    background-color: #f1eef5;
}

/*Estilização do LOGOTIPO*/
.logo{
    width:8%;
}

/* Estilização do MENU*/
nav{
    right: 15px;
    position: absolute;
    top: 90px;   
}

nav li{
    display: inline;
    margin: 0 0 0 35px;
}

nav a{
    text-transform: uppercase;
    color: #ce1010ec;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    color: #000000;
    text-decoration: underline;
}

.logo_caixa{
    width: 1400px;
    position: relative;
    margin: auto;
}

nav a:hover{
    color: #000000;
    text-decoration: underline;

}

/* Estilização do Banner */

.banner { 
    width:  100%;
}

/* Estilização da seção sobre a empresa*/
.logo {
width: 120px;
float: left;

}

.titulo-logo{
    clear:left;
    text-align: center;
    margin: 0, 20px; /* espaçamento do texto 20 para a direita*/
}

.area.titulo-logo{
    width: 85%;
    font-size: 40px;
    text-align: center;
    margin: auto;
    background-color: #FFFFFE;
}

.img.logo{
    width: 30%;
    }



/*Títulos - Padrão*/

.titulo-padrao{
    margin: 0;
    padding-top: 3%;
    text-align: center;
    font-size: 40px;
    color: #ce1010ec;
}

/*Estilização da sessão Nosso estabelecimento (mapa)*/
.mapa{
     background-color: #6A902B;
    background: linear-gradient(#FFFFFE, #6A902B);
}

.mapa p{
    text-align: center;
}

/*.mapa-conteudo{
    width: 70%;
    margin: 0 35%;
}*/

.mapa iframe{
    display: block;
    margin: auto;
}

/*Estilização da Seção Benefícios*/
.beneficios{
     background-color: #6A902B;
}

.conteudo_beneficios{
    width:100%;
    margin: 100px auto;
}

.lista-beneficios{
    text-align: left;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 50px;
    font-size: 22px;
    list-style: none;
}

.itens{
    line-height: 3.0;
}

.itens:before{
        content:"🐶🐱 ";
}

.img_beneficios{
    width: 40%;
    margin:50px auto;
    box-shadow: 10px 10px 5px 0px gray; /*em cima, embaixo, esquerda, direita*/
    opacity: 1;
    transition: 500ms;
}

.img_beneficios:hover{
    opacity: 0.8;
}


/* Estilização do footer */
footer{
    text-align: center;
    background: url("assets/imagens/footer_backjpg.jpg");
    padding: 40px;
}

.copyright{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
}

.logo_footer{
    width:8%;
}